<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div text-center>
    <img src="../assets/imgs/logo.png" class="imagem-logo">
  </div>

  <ion-list>

    <ion-item>
      <ion-label color="primary" floating>Login</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

  
  <ion-row>
    <ion-col>
      <button ion-button block round text-capitalize outline>Button</button>
    </ion-col>
    <ion-col>
      <button ion-button block round text-capitalize outline>Button</button>
    </ion-col>
  </ion-row>

  <ion-row margin-top>
    <ion-col>
      <button ion-button block round text-capitalize outline>Button</button>
    </ion-col>
    <ion-col>
      <button ion-button block round text-capitalize outline>Button</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="no-padding-top">
      <button ion-button block round outline no-margin text-capitalize color="danger">Button</button>
    </ion-col>
    <ion-col class="no-padding-top">
      <button ion-button block round outline no-margin text-capitalize color="danger">Button</button>
    </ion-col>
  </ion-row>

</ion-content>