.header {
  ion-navbar {
    .toolbar-background {
      background: #074499;
      background: linear-gradient(
        90deg,
        rgba(7, 68, 153, 1) 0%,
        rgba(0, 101, 163, 1) 50%,
        rgba(0, 187, 255, 1) 100%
      );
    }

    .toolbar-content {
      .title {
        .toolbar-title {
          color: #fff;
        }
      }
    }
  }
}

.list .item-block {
  border: none !important;

  .item-inner {
    .input-wrapper {
      .input {
        border-bottom: 1px solid #074499;
      }
    }
  }
}

.button {
  height: 3.2rem !important;
}

.no-padding-top {
  padding-top: 0 !important;
}
